/* General Styling */
.productDetails {
  display: flex;
  gap: 2rem;
  max-width: 800px;
  margin: 2rem auto;
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-family: 'Lato', sans-serif;
  color: #333;
}

.productImage {
  width: 200px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.productDetailsContent {
  text-align: left; 
}

.productName {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #4E342E;
  text-align: left; 
}

.productType,
.productManufacturer,
.productDescription,
.productPrice,
.productDimensions,
.productPriceUnit {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #555;
}

/* Emphasize Price */
.productPrice {
  font-weight: bold;
  color: #6D4C41;
}

/* Actions Container */
.actionsGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1.5rem;
  gap: 0.5rem;
}

/* Amount Control Styling */
.amountControlGroup {
  display: flex;
  max-width: 100px;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-height: 22px;
}
/* Amount Input Field */
.amountInputField {
  text-align: center;
  border: none;
  background-color: #fff;
  color: #333;
  display: flex;
}

.amountInput::-webkit-outer-spin-button,
.amountInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Decrease and Increase Button Styling */
.decreaseButtonField,
.increaseButtonField {
  background-color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  transition: background-color 0.3s;
}

.decreaseButton:hover,
.increaseButton:hover {
  background-color: #f0f0f0;
}

/* Add to Cart Button */
.addToCartButton {
  background-color: #8D6E63;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 36px; /* Match height */
}

.addToCartButton:hover {
  background-color: #795548;
}

/* Cutting List Button */
.addCuttingListButton {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 36px; /* Match height */
}

.addCuttingListButton:hover {
  background-color: #337335;
}

.buttonGroup {
  display: flex;
  gap: 10px; /* Adds space between buttons */
}

.deleteButton {
  background-color: #c94743;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 36px; /* Match height */
}

.editButton {
  background-color: #513a1f;
  color: #fff;
  border: 1px;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 36px; /* Match height */
}

.deleteButton:hover {
  background-color: #c9302c;
}

.editButton:hover {
  background-color: #382816;
}

.quantityWrapper {
  display: flex;
  align-items: center;
  gap: 2px; 
}

.quantityInput {
  max-width: 30px; /* Adjust as needed */
  text-align: center;;
  font-size: 1rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.quantityInputCubic {
  max-width: 30px; /* Adjust as needed */
  text-align: center;;
  margin-right: 1ch;
  font-size: 1rem;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
